.DS_Store
android
aspnet5
autotools
c++
cocoa
ditaa
dot
embedded
gpb
iOS
java
javascript/test.htm
javascript/node.js/censorify/readwords
javascript/angularjs/**
**/node_modules/**
**/*.tgz
**/npm-debug.log*
mono
make
network
objective-c
parallel
perl
plantuml
python
sipp
svn
swift
web
