# Security
src/postgres/ssl
*.jks
*.p12
*.key

# OS
.DS_Store

# JavaScript
**/node_modules/**/*
npm-debug.*
appium.log

# Python
__pycache__
env/
src/chatapi/static
src/chatapi/db.sqlite3

# Build
**/build
